<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User</title>
</head>
<body>
<!--<span th:text="${#request.userPrincipal.principal.username}"></span>-->
<a th:href="@{/user}">Stocks</a>
<a th:href="@{/user/alarms}">Refresh</a>

<form  th:action="@{/user/alarm}" th:method="post">
    <lable>Alarm Name</lable>
    <input type="text" id="alarmName" name="alarmName">

    <lable>Alarm symbol</lable>
    <input type="text" id="symbol" name="symbol">

    <lable>Alarm condition</lable>
    <input type="text" id="targetPercentage" name="targetPercentage">

    <input type="submit">
</form>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Symbol </th>
        <th> Saved price </th>
        <th> Target condition </th>
        <th> Current price </th>
        <th> Current condition </th>
        <th> Status </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${alarms.empty}">
        <td colspan="2"> No Alarms Available </td>
    </tr>
    <tr th:each="alarm : ${alarms}">
        <td><span th:text="${alarm.alarmName}"> Name </span></td>
        <td><span th:text="${alarm.symbol}"> Symbol </span></td>
        <td><span th:text="${#numbers.formatDecimal(alarm.savedPrice, 1, 4)} + '$'"> Saved price </span></td>
        <td><span th:text="${#numbers.formatDecimal(alarm.targetPercentage, 1, 4)} + '%'"> Target condition </span></td>
        <td><span th:text="${#numbers.formatDecimal(alarm.currentPrice, 1, 4)} + '$'"> Current price </span></td>
        <td><span th:text="${#numbers.formatDecimal(alarm.actualPercentage, 1, 4)} + '%'"> Current condition </span></td>
        <td><span th:text="${alarm.status} ? 'Active' : 'Inactive'"> Status </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>