<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User</title>
</head>
<body>
<span th:text="${#request.userPrincipal.principal.username}"></span>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Symbol </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${stocks.empty}">
        <td colspan="2"> No Stocks Available </td>
    </tr>
    <tr th:each="stock : ${stocks}">
        <td><span th:text="${stock.stockName}"> Name </span></td>
        <td><span th:text="${stock.symbol}"> Symbol </span></td>
        <td><span th:text="${stock.price}"> Symbol </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>