<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User</title>
</head>
<body>
<!--<span th:text="${#request.userPrincipal.principal.username}"></span>-->
<a th:href="@{/user/alarms}">Alarms</a>
<a th:href="@{/user}">Refresh</a>

<form  th:action="@{/user/stock}" th:method="post">
    <lable>Stock Name</lable>
    <input type="text" id="stockName" name="stockName">

    <lable>Stock symbol</lable>
    <input type="text" id="symbol" name="symbol">

    <input type="submit">
</form>


<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Symbol </th>
        <th> Current Price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${stocks.empty}">
        <td colspan="2"> No Stocks Available </td>
    </tr>
    <tr th:each="stock : ${stocks}">
        <td><span th:text="${stock.stockName}"> Name </span></td>
        <td><span th:text="${stock.symbol}"> Symbol </span></td>
        <td><span th:text="${#numbers.formatDecimal(stock.currentPrice, 1, 4)}"> Current Price </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>