<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Stocks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">StockAlarm8</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/templates/user}">Stocks <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/alarms}">Alarms</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span th:text="${#request.userPrincipal.principal.username}"></span>
            <a th:href="@{/logout}">Logout</a>
        </form>
    </div>
</nav>

<a th:href="@{/templates/user}">Refresh</a>

<br>

<form th:action="@{/stock}" th:method="post">
    <lable>Stock Name</lable>
    <input type="text" id="stockName" name="stockName">

    <lable>Stock symbol</lable>
    <input type="text" id="symbol" name="symbol">

    <input type="submit">
</form>

<br>

<table class="table">
    <thead>
    <tr>
        <th> Name</th>
        <th> Symbol</th>
        <th> Current Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${stocks.empty}">
        <td colspan="2"> No Stocks Available</td>
    </tr>
    <tr th:each="stock : ${stocks}">
        <td><span th:text="${stock.stockName}"> Name </span></td>
        <td><span th:text="${stock.symbol}"> Symbol </span></td>
        <td><span th:text="${#numbers.formatDecimal(stock.currentPrice, 1, 4)}"> Current Price </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>